@import "tailwindcss";

@theme {
    
    --color-pink: rgba(249, 193, 213, 0.86);
    --color-buttonPink: rgba(249, 193, 213, 0.86);
    --color-yellow: rgba(255, 249, 237, 1);
    --color-blue: rgba(224, 240, 255, 1);
    --color-violet:rgba(237, 209, 255, 1);
    --color-violet:rgba(237, 209, 255, 1);
    --color-green:rgba(231, 255, 180, 1);

    --drop-shadow-sm: 2px 2px 0 rgba(0, 0, 0, 1);
    --drop-shadow-md: 3px 4px 0 rgba(0, 0, 0, 1);
    --drop-shadow-lg: 8px 8px 0 rgba(0, 0, 0, 1);
    
}